# Практическая работа №1

Цель - Провести разведочный анализ данных по датасету

Для начала инмопртруем билиотеку для работы с csv файлами и запишем наш датасет в переменную

In [8]:
import pandas

df = pandas.read_csv('vgsales_13.csv')

df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,16534,Hitman (2016),XOne,2016.0,Action,Square Enix,0.00,0.01,0.00,0.00,0.01
1,9997,Army Men: Soldiers of Misfortune,DS,2008.0,Shooter,Zoo Games,0.11,0.00,0.00,0.01,0.12
2,9462,Romance of the Three Kingdoms IV: Wall of Fire,PS,1995.0,Strategy,Tecmo Koei,0.05,0.03,0.04,0.01,0.13
3,1625,Castlevania,NES,1986.0,Platform,Konami Digital Entertainment,0.54,0.06,0.62,0.01,1.23
4,7360,BloodRayne,XB,2002.0,Shooter,Universal Interactive,0.16,0.05,0.00,0.01,0.21
...,...,...,...,...,...,...,...,...,...,...,...
548,11062,Beowulf: The Game,PSP,2007.0,Action,Ubisoft,0.08,0.00,0.00,0.01,0.09
549,13238,Finny the Fish & the Seven Waters,PS2,2004.0,Sports,Sony Computer Entertainment,0.02,0.02,0.00,0.01,0.05
550,7555,Samurai Spirits (CD),NG,1994.0,Fighting,SNK,0.00,0.00,0.20,0.00,0.20
551,15069,DemiKids: Light Version,GBA,2002.0,Role-Playing,Atlus,0.02,0.01,0.00,0.00,0.02
552,5000,The Cat in the Hat,GBA,2005.0,Platform,Jack of All Games,0.27,0.10,0.00,0.01,0.38

Затем при помощи метода info() соберем осноную информацию о датафрейме

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          553 non-null    int64
 1   Name          553 non-null    object
 2   Platform      553 non-null    object
 3   Year          547 non-null    float64
 4   Genre         553 non-null    object
 5   Publisher     550 non-null    object
 6   NA_Sales      553 non-null    float64
 7   EU_Sales      553 non-null    float64
 8   JP_Sales      553 non-null    float64
 9   Other_Sales   553 non-null    float64
 10  Global_Sales  553 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 47.6+ KB

Как видим в столбце года указаны не все значения

Попробуем Выяснить какие площадки есть в датафрейме, делается это при помощи метода unique(), который возвращает неповторяющиеся значения

In [10]:
len(df.Name.unique())

538

При помощи метода describe() можно вывести основную информацию о датасете, а именно: минимальное, максимальное значение, дисперсию, среднее арифметическое, а также 25% и 75%

In [11]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,553.000000,547.000000,553.000000,553.000000,553.000000,553.000000,553.000000
mean,7916.343580,2006.806216,0.319982,0.192369,0.077143,0.061320,0.651157
std,4809.468906,5.713787,0.984433,0.736568,0.278924,0.216749,2.043337
min,4.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,3951.000000,2003.000000,0.010000,0.000000,0.000000,0.000000,0.070000
50%,7606.000000,2008.000000,0.080000,0.030000,0.000000,0.010000,0.200000
75%,11881.000000,2011.000000,0.270000,0.140000,0.040000,0.040000,0.500000
max,16582.000000,2016.000000,15.750000,11.010000,3.960000,2.960000,33.000000

Указанный ниже метод позволяет вывести статистику по нулевым значениям, в конце умножаем на 100, для того чтобы перевести значение в проценты

In [12]:
df.isnull().mean() * 100

Rank            0.000000
Name            0.000000
Platform        0.000000
Year            1.084991
Genre           0.000000
Publisher       0.542495
NA_Sales        0.000000
EU_Sales        0.000000
JP_Sales        0.000000
Other_Sales     0.000000
Global_Sales    0.000000
dtype: float64

Так как пустых полей с годом всего 2 процента, то можно удалить эти строки, для того, чтобы они не ме мешали расчетам, делается это при помощи метода dropna() с указанием столбца

In [13]:
df = df.dropna(subset=['Year'])

Проверим, удалились ли пустые ячейки

In [14]:
df.isnull().mean() * 100

Rank            0.000000
Name            0.000000
Platform        0.000000
Year            0.000000
Genre           0.000000
Publisher       0.365631
NA_Sales        0.000000
EU_Sales        0.000000
JP_Sales        0.000000
Other_Sales     0.000000
Global_Sales    0.000000
dtype: float64

Как видим все пустые ячеки удалились, а также проверим при помощи метода shape() сколько строк осталось

In [15]:
df.shape[0]

547

Еще один способ - удаление признака из датасета, для этого нужно воспользоваться методом drop() с указанием в скобках столбцов, которые необходимо удалить

In [16]:
df.drop(columns=['Year']).columns

Index(['Rank', 'Name', 'Platform', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

Также для избавления от нулевых значений можно воспользоваться заменой значений, для замены значений используется функция replace(), а для того чтобы определить нулевое ли значение воспользуемся значением nan из библиотеки numpy

In [17]:
from numpy import nan
df.replace({
    'Year': nan
}, 200).isnull().mean()

Rank            0.000000
Name            0.000000
Platform        0.000000
Year            0.000000
Genre           0.000000
Publisher       0.003656
NA_Sales        0.000000
EU_Sales        0.000000
JP_Sales        0.000000
Other_Sales     0.000000
Global_Sales    0.000000
dtype: float64

Как видим замена тоже избавила от нулевых значений

И последний споособ - использование подстановщика, подстановщик позволяет по специальному алгоритму заменить недостающие данные в датасете. Библиотека в которой есть простой подстановщик - sklearn, класс SimpleImputer

In [29]:
from sklearn.impute import SimpleImputer
SI = SimpleImputer()

При помощи метода fit данного класса подгоним значения для импутера

In [30]:
SI.fit(df[[
    'Year'
]])

SimpleImputer()

Затем при помощи метода transform() заполним все недостающие значения, как видим все нулевые значения пропадают

In [34]:
df[['Year']] = SI.transform(df[['Year']])
df.isnull().mean() * 100

C:\Users\murkl\AppData\Local\Temp\ipykernel_17372\2100097140.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Year']] = SI.transform(df[['Year']])

Rank            0.000000
Name            0.000000
Platform        0.000000
Year            0.000000
Genre           0.000000
Publisher       0.365631
NA_Sales        0.000000
EU_Sales        0.000000
JP_Sales        0.000000
Other_Sales     0.000000
Global_Sales    0.000000
dtype: float64

Для сохранения датасета необходимо воспользоваться методом to_csv() библиотеки pandas

In [35]:
df.to_csv("prakticheskay1_clear.csv")

Вывод - в данной практической работе был проведен разведочный анализ данных по датасету.