# Практическая работа №3 - Преобразование и разделение данных

Цель работы: Преобразовать признаки и разбить датасет на обучающую и тестовую выборку.

Импортируем необходимые библиотки

In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv('pr1_clear.csv')  #чтение csv в переменную
df

,Unnamed: 0,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,0,13292,E.X. Troopers,PS3,2012.0,Shooter,Capcom,0.00,0.00,0.05,0.00,0.05
1,1,15041,Steins;Gate: Senkei Kousoku no Phonogram,X360,2013.0,Adventure,5pb,0.00,0.00,0.02,0.00,0.02
2,2,15717,This War of Mine,PS4,2016.0,Action,Deep Silver,0.00,0.01,0.00,0.00,0.02
3,3,14047,Kiniro no Corda 2 f,PSP,2009.0,Role-Playing,Tecmo Koei,0.00,0.00,0.04,0.00,0.04
4,4,5127,Turok: Rage Wars,N64,1999.0,Shooter,Acclaim Entertainment,0.30,0.06,0.00,0.00,0.37
...,...,...,...,...,...,...,...,...,...,...,...,...
537,548,12286,My Pet Chimp,DS,2010.0,Simulation,505 Games,0.06,0.00,0.00,0.00,0.06
538,549,10521,God Eater 2: Rage Burst,PS4,2015.0,Role-Playing,Namco Bandai Games,0.00,0.01,0.09,0.00,0.10
539,550,4981,Triple Play 97,PS,1996.0,Sports,Electronic Arts Victor,0.21,0.15,0.00,0.03,0.38
540,551,1157,Dragon Quest V: Hand of the Heavenly Bride,DS,2008.0,Role-Playing,Square Enix,0.19,0.02,1.36,0.02,1.60
541,552,10192,Tales of Phantasia (PS1 & PSP Versions),PSP,2006.0,Role-Playing,Namco Bandai Games,0.00,0.00,0.11,0.00,0.11

Класс "OrdinalEncoder" предоставляет возможность преобразования категориальных признаков в целочисленные значения, сохраняя при этом порядок. Каждому уникальному значению категориального признака присваивается уникальное целое число, и значения рассматриваются в упорядоченном порядке по возрастанию.Импортируем этот класс.

In [21]:
from sklearn.preprocessing import OrdinalEncoder

Код OEnc = OrdinalEncoder() создает экземпляр класса OrdinalEncoder и присваивает его переменной OEnc.

Затем, метод fit() вызывается на объекте OEnc с аргументом df[["Genre"]]. Это позволяет кодировщику OrdinalEncoder "обучиться" на уникальных значениях столбца "Genre" из датафрейма df.

In [22]:
# Создание экземпляра класса OrdinalEncoder
OEnc = OrdinalEncoder()

# Обучение OrdinalEncoder на уникальных значениях столбца "Genre"
OEnc.fit(df[["Genre"]])

OrdinalEncoder()

OEnc.categories_ возвращает массив, содержащий уникальные значения категориального признака, на котором был обучен OrdinalEncoder. Каждый элемент массива соответствует одному столбцу категориальных данных и содержит уникальные значения этого столбца в упорядоченном виде

In [23]:
# Получение уникальных значений категориального признака
categories = OEnc.categories_

OEnc.transform(df[["Genre"]]) применяет обученный OrdinalEncoder к указанному столбцу "Genre" в DataFrame df и преобразует его категориальные значения в соответствующие целочисленные значения с сохранением порядка.

In [24]:
# Преобразование категориальных значений столбца "Genre" в целочисленные значения с сохранением порядка
transformed_data = OEnc.transform(df[["Genre"]])

In [25]:
df[["Genre"]] = OEnc.transform(df[["Genre"]]) #Перенос преобразованных данных в изначальный датасет
df #Вывод данных из датасета

,Unnamed: 0,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,0,13292,E.X. Troopers,PS3,2012.0,8.0,Capcom,0.00,0.00,0.05,0.00,0.05
1,1,15041,Steins;Gate: Senkei Kousoku no Phonogram,X360,2013.0,1.0,5pb,0.00,0.00,0.02,0.00,0.02
2,2,15717,This War of Mine,PS4,2016.0,0.0,Deep Silver,0.00,0.01,0.00,0.00,0.02
3,3,14047,Kiniro no Corda 2 f,PSP,2009.0,7.0,Tecmo Koei,0.00,0.00,0.04,0.00,0.04
4,4,5127,Turok: Rage Wars,N64,1999.0,8.0,Acclaim Entertainment,0.30,0.06,0.00,0.00,0.37
...,...,...,...,...,...,...,...,...,...,...,...,...
537,548,12286,My Pet Chimp,DS,2010.0,9.0,505 Games,0.06,0.00,0.00,0.00,0.06
538,549,10521,God Eater 2: Rage Burst,PS4,2015.0,7.0,Namco Bandai Games,0.00,0.01,0.09,0.00,0.10
539,550,4981,Triple Play 97,PS,1996.0,10.0,Electronic Arts Victor,0.21,0.15,0.00,0.03,0.38
540,551,1157,Dragon Quest V: Hand of the Heavenly Bride,DS,2008.0,7.0,Square Enix,0.19,0.02,1.36,0.02,1.60
541,552,10192,Tales of Phantasia (PS1 & PSP Versions),PSP,2006.0,7.0,Namco Bandai Games,0.00,0.00,0.11,0.00,0.11

После применения "OrdinalEncoder", мы получаем новый датасет, в котором значения жанра преобразованы в целочисленные значения, сохраняя при этом их порядок.

"LabelEncoder" - это класс библиотеки, который используется для преобразования категориальных данных в числовые значения. В отличие от "LabelEncoder", "OrdinalEncoder" также сохраняет порядок значений в каждом столбце при кодировании категориальных признаков.

In [26]:
from sklearn.preprocessing import LabelEncoder

In [27]:
# Создание экземпляра класса LabelEncoder
LEnc = LabelEncoder()

# Преобразование значений столбца "Publisher" из категориальных в числовые значения
df["Publisher"] = LEnc.fit_transform(df["Publisher"])

# Вывод обновленного DataFrame с заменой категориальных значений на числовые
df

,Unnamed: 0,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,0,13292,E.X. Troopers,PS3,2012.0,8.0,20,0.00,0.00,0.05,0.00,0.05
1,1,15041,Steins;Gate: Senkei Kousoku no Phonogram,X360,2013.0,1.0,1,0.00,0.00,0.02,0.00,0.02
2,2,15717,This War of Mine,PS4,2016.0,0.0,29,0.00,0.01,0.00,0.00,0.02
3,3,14047,Kiniro no Corda 2 f,PSP,2009.0,7.0,114,0.00,0.00,0.04,0.00,0.04
4,4,5127,Turok: Rage Wars,N64,1999.0,8.0,4,0.30,0.06,0.00,0.00,0.37
...,...,...,...,...,...,...,...,...,...,...,...,...
537,548,12286,My Pet Chimp,DS,2010.0,9.0,0,0.06,0.00,0.00,0.00,0.06
538,549,10521,God Eater 2: Rage Burst,PS4,2015.0,7.0,79,0.00,0.01,0.09,0.00,0.10
539,550,4981,Triple Play 97,PS,1996.0,10.0,35,0.21,0.15,0.00,0.03,0.38
540,551,1157,Dragon Quest V: Hand of the Heavenly Bride,DS,2008.0,7.0,105,0.19,0.02,1.36,0.02,1.60
541,552,10192,Tales of Phantasia (PS1 & PSP Versions),PSP,2006.0,7.0,79,0.00,0.00,0.11,0.00,0.11

После использования метода "LabelEncoder" мы получили обновленный набор данных, в котором категориальные значения из столбца "Publisher" были преобразованы в числовые значения. В результате мы получили новый набор данных, где издатели представлены числами.

"OneHotEncoder" является инструментом, используемым для преобразования категориальных данных в бинарные значения. Каждое уникальное значение в исходном столбце преобразуется в новый набор бинарных столбцов. Каждый новый столбец представляет одно уникальное значение и содержит либо значение 1 (если уникальное значение присутствует в исходном столбце), либо значение 0 (если уникальное значение отсутствует). Для начала импортируем необходимые библиоткеи

In [28]:
from sklearn.preprocessing import Normalizer

In [29]:
Norm = Normalizer()  # Создание объекта Normalizer

# Применение нормализации к выбранным столбцам
df[['JP_Sales', 'EU_Sales', 'NA_Sales', 'Other_Sales']] = Norm.fit_transform(df[['JP_Sales', 'EU_Sales', 'NA_Sales', 'Other_Sales']])

df  # Вывод обновленного датасета

,Unnamed: 0,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,0,13292,E.X. Troopers,PS3,2012.0,8.0,20,0.000000,0.000000,1.000000,0.000000,0.05
1,1,15041,Steins;Gate: Senkei Kousoku no Phonogram,X360,2013.0,1.0,1,0.000000,0.000000,1.000000,0.000000,0.02
2,2,15717,This War of Mine,PS4,2016.0,0.0,29,0.000000,1.000000,0.000000,0.000000,0.02
3,3,14047,Kiniro no Corda 2 f,PSP,2009.0,7.0,114,0.000000,0.000000,1.000000,0.000000,0.04
4,4,5127,Turok: Rage Wars,N64,1999.0,8.0,4,0.980581,0.196116,0.000000,0.000000,0.37
...,...,...,...,...,...,...,...,...,...,...,...,...
537,548,12286,My Pet Chimp,DS,2010.0,9.0,0,1.000000,0.000000,0.000000,0.000000,0.06
538,549,10521,God Eater 2: Rage Burst,PS4,2015.0,7.0,79,0.000000,0.110432,0.993884,0.000000,0.10
539,550,4981,Triple Play 97,PS,1996.0,10.0,35,0.808290,0.577350,0.000000,0.115470,0.38
540,551,1157,Dragon Quest V: Hand of the Heavenly Bride,DS,2008.0,7.0,105,0.138333,0.014561,0.990172,0.014561,1.60
541,552,10192,Tales of Phantasia (PS1 & PSP Versions),PSP,2006.0,7.0,79,0.000000,0.000000,1.000000,0.000000,0.11

В итоге, значения в каждой колонке данных нормализуются путем масштабирования каждой строки в соответствии с их нормой, что приводит к приведению значений в диапазон от 0 до 1.

In [30]:
df.to_csv("pr3_clear.csv",index=False) #Сохранение данных в новый файл
df = pd.read_csv("pr3_clear.csv")
df #Вывод данных из датасета

,Unnamed: 0,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,0,13292,E.X. Troopers,PS3,2012.0,8.0,20,0.000000,0.000000,1.000000,0.000000,0.05
1,1,15041,Steins;Gate: Senkei Kousoku no Phonogram,X360,2013.0,1.0,1,0.000000,0.000000,1.000000,0.000000,0.02
2,2,15717,This War of Mine,PS4,2016.0,0.0,29,0.000000,1.000000,0.000000,0.000000,0.02
3,3,14047,Kiniro no Corda 2 f,PSP,2009.0,7.0,114,0.000000,0.000000,1.000000,0.000000,0.04
4,4,5127,Turok: Rage Wars,N64,1999.0,8.0,4,0.980581,0.196116,0.000000,0.000000,0.37
...,...,...,...,...,...,...,...,...,...,...,...,...
537,548,12286,My Pet Chimp,DS,2010.0,9.0,0,1.000000,0.000000,0.000000,0.000000,0.06
538,549,10521,God Eater 2: Rage Burst,PS4,2015.0,7.0,79,0.000000,0.110432,0.993884,0.000000,0.10
539,550,4981,Triple Play 97,PS,1996.0,10.0,35,0.808290,0.577350,0.000000,0.115470,0.38
540,551,1157,Dragon Quest V: Hand of the Heavenly Bride,DS,2008.0,7.0,105,0.138333,0.014561,0.990172,0.014561,1.60
541,552,10192,Tales of Phantasia (PS1 & PSP Versions),PSP,2006.0,7.0,79,0.000000,0.000000,1.000000,0.000000,0.11

Сначала импортируется необходимая библиотека. Затем создается вектор Y, который представляет собой целевую переменную. Далее создается матрица X, содержащая признаки (все столбцы, кроме "Global_Sales"). В конечном итоге датасет разделяется на обучающую и тестовую выборки с помощью метода train_test_split. Этот метод принимает матрицу признаков X, вектор целевой переменной Y, размер тестовой выборки test_size (выраженный в долях или числе) и random_state, который задает начальное состояние для случайного разделения данных.

In [31]:
from sklearn.model_selection import train_test_split #Подключение библиотеки

В данном коде происходит создание вектора Y, который содержит значения целевой переменной "Global_Sales" из исходного датасета. Затем создается матрица X, которая является исходным датасетом df без столбца "Global_Sales". Наконец, выводится вектор Y, содержащий значения целевой переменной "Global_Sales".

In [32]:
# Создание вектора Y, который представляет собой целевую переменную "Global_Sales"
Y = df["Global_Sales"]

# Создание матрицы X путем удаления столбца "Global_Sales" из исходного датасета
X = df.drop(columns="Global_Sales")

# Вывод вектора Y, содержащего значения целевой переменной "Global_Sales"
Y

0      0.05
1      0.02
2      0.02
3      0.04
4      0.37
       ...
537    0.06
538    0.10
539    0.38
540    1.60
541    0.11
Name: Global_Sales, Length: 542, dtype: float64

In [33]:
X #Вывод данных из переменной

,Unnamed: 0,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,0,13292,E.X. Troopers,PS3,2012.0,8.0,20,0.000000,0.000000,1.000000,0.000000
1,1,15041,Steins;Gate: Senkei Kousoku no Phonogram,X360,2013.0,1.0,1,0.000000,0.000000,1.000000,0.000000
2,2,15717,This War of Mine,PS4,2016.0,0.0,29,0.000000,1.000000,0.000000,0.000000
3,3,14047,Kiniro no Corda 2 f,PSP,2009.0,7.0,114,0.000000,0.000000,1.000000,0.000000
4,4,5127,Turok: Rage Wars,N64,1999.0,8.0,4,0.980581,0.196116,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
537,548,12286,My Pet Chimp,DS,2010.0,9.0,0,1.000000,0.000000,0.000000,0.000000
538,549,10521,God Eater 2: Rage Burst,PS4,2015.0,7.0,79,0.000000,0.110432,0.993884,0.000000
539,550,4981,Triple Play 97,PS,1996.0,10.0,35,0.808290,0.577350,0.000000,0.115470
540,551,1157,Dragon Quest V: Hand of the Heavenly Bride,DS,2008.0,7.0,105,0.138333,0.014561,0.990172,0.014561
541,552,10192,Tales of Phantasia (PS1 & PSP Versions),PSP,2006.0,7.0,79,0.000000,0.000000,1.000000,0.000000

В процессе выполнения этих строк кода, исходный датасет был разделен на две части: одна содержит все признаки, за исключением "Global_Sales", а другая содержит только столбец "Global_Sales".

In [34]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 40) #Разделение данных на четыре массива: X_train, X_test, y_train и y_test, которые представляют собой обучающий и тестовый наборы признаков и целевых переменных соответственно.
print("Кол-во входных обущающих данных: ",len(X_train))
print("Кол-во входных тестовых данных: ",len(X_test)) 
print("Кол-во проверочных обущающих данных: ",len(Y_train)) 
print("Кол-во проверочных тестовых данных: ",len(Y_test)) #Вывод длины данных

Кол-во входных обущающих данных:  433
Кол-во входных тестовых данных:  109
Кол-во проверочных обущающих данных:  433
Кол-во проверочных тестовых данных:  109

MinMaxScaler - это класс из библиотеки sklearn.preprocessing, который используется для нормализации данных путем приведения их к определенному диапазону значений. Он преобразует каждый признак независимо, масштабируя значения признаков таким образом, чтобы они находились в диапазоне от 0 до 1.

Сначала импортируется необходимая библиотека. Затем применяется метод fit_transform к столбцам "Other_Sales" и "Global_Sales". Этот метод адаптируется к данным, вычисляет минимальное и максимальное значение каждого признака, а затем нормализует значения признаков, приводя их в диапазон от 0 до 1.

In [35]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

# Применение метода fit_transform к столбцам 'Other_Sales' и 'Global_Sales' для нормализации данных
scaled_features = scaler.fit_transform(df[['Other_Sales','Global_Sales']])

# Создание нового датафрейма df_scaled с нормализованными признаками
df_scaled = pd.DataFrame(scaled_features, columns=['Other_Sales','Global_Sales'])

# Вывод нормализованных данных df_scaled
df_scaled

     Other_Sales  Global_Sales
0       0.000000      0.001413
1       0.000000      0.000353
2       0.000000      0.000353
3       0.000000      0.001060
4       0.000000      0.012721
..           ...           ...
537     0.000000      0.001767
538     0.000000      0.003180
539     0.137521      0.013074
540     0.017342      0.056184
541     0.000000      0.003534

[542 rows x 2 columns]

Результатом применения нормализации и масштабирования на числовых признаках "Other_Sales" и "Global_Sales" является новый датафрейм df_scaled, в котором эти признаки теперь находятся в диапазоне от 0 до 1. Это позволяет сравнивать значения этих признаков относительно других признаков в датасете и облегчает анализ и интерпретацию данных.

Разделение датасета на обучающую и тестовую выборку с учетом дисбаланса значений у целевой переменной Для того чтобы учесть дисбаланс значений у целевой переменной при разделении датасета на обучающую и тестовую выборку, можно использовать стратифицированное разбиение. Это означает, что соотношение классов в исходном датасете будет сохранено в обеих выборках.

В результате выполнения данного кода мы получаем четыре переменные: X_train, X_test, y_train, y_test, которые представляют собой обучающую и тестовую выборки признаков и целевой переменной соответственно. При разделении датасета мы учитываем дисбаланс значений целевой переменной с помощью параметра stratify, который задает список классов [0, 1] для стратифицированного разбиения. Таким образом, соотношение классов будет сохранено как в обучающей, так и в тестовой выборке. Параметр random_state устанавливает начальное состояние для случайного разбиения данных, чтобы результаты были воспроизводимыми.

In [ ]:
# Импортируем необходимую библиотеку для разделения датасета
from sklearn.model_selection import train_test_split

# Задаем матрицу признаков X и вектор целевой переменной y
X = df.drop(columns=['Global_Sales'])

y = df['Global_Sales']

# Выполняем разделение датасета на обучающую и тестовую выборки
# Параметр test_size указывает размер тестовой выборки (в данном случае 20%)
# Параметр stratify=[0, 1] гарантирует стратифицированное разбиение, сохраняя дисбаланс классов
# Параметр random_state=42 задает начальное состояние для случайного разбиения данных
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1, stratify=[0, 0.9], random_state=42)

In [42]:
X

,Unnamed: 0,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,0,13292,E.X. Troopers,PS3,2012.0,8.0,20,0.000000,0.000000,1.000000,0.000000
1,1,15041,Steins;Gate: Senkei Kousoku no Phonogram,X360,2013.0,1.0,1,0.000000,0.000000,1.000000,0.000000
2,2,15717,This War of Mine,PS4,2016.0,0.0,29,0.000000,1.000000,0.000000,0.000000
3,3,14047,Kiniro no Corda 2 f,PSP,2009.0,7.0,114,0.000000,0.000000,1.000000,0.000000
4,4,5127,Turok: Rage Wars,N64,1999.0,8.0,4,0.980581,0.196116,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
537,548,12286,My Pet Chimp,DS,2010.0,9.0,0,1.000000,0.000000,0.000000,0.000000
538,549,10521,God Eater 2: Rage Burst,PS4,2015.0,7.0,79,0.000000,0.110432,0.993884,0.000000
539,550,4981,Triple Play 97,PS,1996.0,10.0,35,0.808290,0.577350,0.000000,0.115470
540,551,1157,Dragon Quest V: Hand of the Heavenly Bride,DS,2008.0,7.0,105,0.138333,0.014561,0.990172,0.014561
541,552,10192,Tales of Phantasia (PS1 & PSP Versions),PSP,2006.0,7.0,79,0.000000,0.000000,1.000000,0.000000

In [43]:
Y

0      0.05
1      0.02
2      0.02
3      0.04
4      0.37
       ...
537    0.06
538    0.10
539    0.38
540    1.60
541    0.11
Name: Global_Sales, Length: 542, dtype: float64

In [44]:
df.drop(columns=['Rank', 'Name'])

,Unnamed: 0,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,0,PS3,2012.0,8.0,20,0.000000,0.000000,1.000000,0.000000,0.05
1,1,X360,2013.0,1.0,1,0.000000,0.000000,1.000000,0.000000,0.02
2,2,PS4,2016.0,0.0,29,0.000000,1.000000,0.000000,0.000000,0.02
3,3,PSP,2009.0,7.0,114,0.000000,0.000000,1.000000,0.000000,0.04
4,4,N64,1999.0,8.0,4,0.980581,0.196116,0.000000,0.000000,0.37
...,...,...,...,...,...,...,...,...,...,...
537,548,DS,2010.0,9.0,0,1.000000,0.000000,0.000000,0.000000,0.06
538,549,PS4,2015.0,7.0,79,0.000000,0.110432,0.993884,0.000000,0.10
539,550,PS,1996.0,10.0,35,0.808290,0.577350,0.000000,0.115470,0.38
540,551,DS,2008.0,7.0,105,0.138333,0.014561,0.990172,0.014561,1.60
541,552,PSP,2006.0,7.0,79,0.000000,0.000000,1.000000,0.000000,0.11

Здесь выполняется разделение данных на обучающую и тестовую выборки с помощью функции train_test_split. Параметр test_size=0.2 указывает, что размер тестовой выборки составит 20% от всех данных. Параметр stratify=df['Genre'] гарантирует стратифицированное разбиение, сохраняя дисбаланс классов по столбцу 'Genre'. Параметр random_state=42 задает начальное состояние для случайного разбиения данных и обеспечивает воспроизводимость результатов.

In [45]:
from sklearn.model_selection import train_test_split

# Разделение данных на признаки (X) и целевую переменную (y)
X = df.drop(columns=['Global_Sales'])
y = df['Global_Sales']

# Разделение данных на обучающую и тестовую выборки
# с размером тестовой выборки 20% и стратификацией по столбцу 'Genre'
# с использованием значения random_state=42 для воспроизводимости
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=df['Genre'], random_state=42)

In [46]:
X_train

,Unnamed: 0,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
469,479,7919,Taiko no Tatsujin: Wii U Version!,WiiU,2013.0,3.0,79,0.000000,0.000000,1.0,0.000000
229,234,15096,Toxic Grind,XB,2002.0,10.0,111,1.000000,0.000000,0.0,0.000000
314,321,10017,Mechanic Master,DS,2008.0,5.0,76,0.995037,0.000000,0.0,0.099504
76,76,6866,MX vs. ATV Reflex,PSP,2009.0,6.0,111,0.973329,0.162221,0.0,0.162221
257,262,13411,Brave Story: New Traveller (jp sales),PSP,2006.0,7.0,102,0.000000,0.000000,1.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
333,341,8544,SeaWorld Adventure Parks: Shamu's Deep Sea Adv...,PS2,2005.0,1.0,5,0.784465,0.588348,0.0,0.196116
147,148,2702,Super Monkey Ball: Touch & Roll,DS,2005.0,3.0,101,0.996246,0.014232,0.0,0.085392
295,301,12959,Myth Makers: Orbs of Doom,Wii,2007.0,5.0,94,1.000000,0.000000,0.0,0.000000
447,456,2293,DJ Hero,PS3,2009.0,3.0,5,0.752403,0.609088,0.0,0.250801
156,158,14810,Captain Tsubasa J: The Way to World Youth,SNES,1995.0,10.0,79,0.000000,0.000000,1.0,0.000000

In [47]:
Y_train

169    0.01
4      0.37
388    0.42
282    5.58
104    0.06
       ...
440    0.16
165    0.18
7      0.05
219    0.02
326    0.49
Name: Global_Sales, Length: 433, dtype: float64

In [48]:
X_test

,Unnamed: 0,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
480,490,13163,Tokimeki Memorial Girl's Side 2nd Kiss,PS2,2006.0,1.0,64,0.000000,0.000000,1.000000,0.000000
467,477,2019,Epic Mickey 2: The Power of Two,Wii,2012.0,0.0,31,0.947286,0.302605,0.000000,0.105254
313,320,1495,Mega Man Battle Network 4: Red Sun / Blue Moon,GBA,2003.0,7.0,20,0.307036,0.039618,0.950821,0.009904
336,344,330,Super Paper Mario,Wii,2007.0,4.0,83,0.872891,0.387951,0.260104,0.141073
283,289,16155,Izumo 2,PS2,2006.0,1.0,42,0.000000,0.000000,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
528,539,12321,F1 2001,XB,2001.0,6.0,34,0.980581,0.196116,0.000000,0.000000
416,425,923,Dynasty Warriors 3,PS2,2001.0,0.0,111,0.438421,0.132354,0.885114,0.082721
54,54,12338,Seaman 2: Peking Genjin Ikusei Kit,PS2,2007.0,9.0,101,0.000000,0.000000,1.000000,0.000000
522,533,6340,Spider-Man: Web of Shadows,PS3,2008.0,0.0,5,0.970143,0.194029,0.000000,0.145521
82,82,16282,Rakushou! Pachi-Slot Sengen 6: Rio 2 Cruising ...,PS2,2009.0,3.0,114,0.000000,0.000000,1.000000,0.000000

In [49]:
Y_test

120    0.22
106    1.97
240    0.01
415    0.11
404    0.11
       ...
47     0.26
431    0.05
15     0.31
222    0.22
435    0.03
Name: Global_Sales, Length: 109, dtype: float64

В данном коде используется функция train_test_split из модуля sklearn.model_selection для разделения датасета на обучающую и тестовую выборки. Цель разделения заключается в создании двух наборов данных: один для обучения модели (обучающая выборка) и другой для оценки ее производительности (тестовая выборка).

При разделении данных также учитывается дисбаланс значений целевой переменной "Global_Sales". Это означает, что пропорции классов в целевой переменной сохраняются в обоих выборках. Это важно, когда в данных присутствует дисбаланс между классами, и мы хотим, чтобы модель обучалась и оценивалась на данных, представляющих реальное распределение классов.

# Вывод:

В процессе выполнения практической работы я применил несколько методов для обработки и предобработки данных. Эти методы позволяют привести данные в формат, пригодный для обучения модели, а также учесть особенности категориальных и числовых признаков.

Методы, которые я использовал, включают в себя:

1)OrdinalEncoder: Используется для преобразования категориальных признаков с упорядоченными значениями в числовые, назначая каждому уникальному значению соответствующее целочисленное значение.

2)LabelEncoder: Применяется для кодирования категориальных признаков в числовой формат, присваивая каждому уникальному значению целочисленный код.

3)OneHotEncoder: Используется для преобразования категориальных признаков в бинарные флаги (one-hot кодирование), где каждое уникальное значение превращается в отдельный бинарный столбец.

4)Normalize: Применяется для нормализации данных путем приведения их к определенному масштабу и единичной норме. В данном случае, нормализация была выполнена по столбцам, где максимальное значение каждого столбца было приведено к 1.

5)MinMaxScaler: Используется для масштабирования числовых признаков в определенный диапазон, обычно от 0 до 1. Это позволяет учесть различные масштабы значений признаков и сделать их сопоставимыми для модели.

6)train_test_split: Применяется для разделения датасета на обучающую и тестовую выборки. Это позволяет оценить производительность модели на невидимых ранее данных и проверить ее способность обобщения.

In [ ]:
Эти методы важны для предварительной обработки данных и подготовки их к обучению модели. Они помогают учесть особенности различных типов признаков и сделать данные более информативными и сопоставимыми для моделирования.